{% extends "layout.html" %}
{% block body %}

<main role="main" class="container">
    <h6 class="border-bottom border-gray pb-2 mb-0 text-title-container">Rescue Tweets</h6>
        {% for tweet in tweets %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-bold-tweet">{{tweet.name}}</strong>
            <label class="text-text-tweet">[{{tweet.user}}]: {{ tweet.tweet }} RT - {{tweet.rts}} FAV - {{tweet.mgs}}</label>
            </p>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
