{% extends "layout.html" %}
{% block body %}

{% if user %}
<a href="{{ url_for('logout') }}"><img src="{{url_for('static', filename='sign-out.png') }}" alt="sign out"></a>
{% else %}
<a href="{{ url_for('login') }}"><img src="{{url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
{% endif %}

<main role="main" class="container">
    <div method="get" class="my-3 p-3 bg-main-container rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0 text-title-container">Tweets operation</h6>
    <label></label>      
          <form action="{{ url_for('listByWordTweets') }}"  method=post>
            <p>
                <label class="text-bold-tweet" type="search">Word: </label>
                <input type=text name=tweet_word size=40>
                <input type=submit value="Find"> 
            </p>
          </form>

          <form action="{{ url_for('showByYLikesTweets') }}"  method=post>
            <p>
                <label class="text-bold-tweet" type="search">Number of Y Likes: </label>
                <input type=text name=tweet_likes size=40>
                <input type=submit value="Find"> 
            </p>
          </form>
      
          <form action="{{ url_for('showByZRtsTweets') }}"  method=post>
            <p>
                <label class="text-bold-tweet" type="search">Number of Z retweets: </label> 
                <input type=text name=tweet_retweets size=40>
                <input type=submit value="Find"> 
            </p>
          </form>     
    </div>
</main>

{% endblock %}
